<div class="container">
<p>perfil: </p>

<h4>Dados do Usuario</h4>

<p>Nome: {{usuario.Nome}} </p>
<p>Telefone: {{usuario.Telefone}} </p>
<p>Email: {{usuario.Email}} </p>
<p>Data_nascimento: {{usuario.Data_nascimento}} </p>

<hr>
<form #formAlterarUsuario="ngForm" (ngSubmit)="onSubmit(formAlterarUsuario)">
    <h3>Alterrar Usuario:</h3>
    <input type="text" [(ngModel)]="usuario.Nome" name="Nome" placeholder="Nome">
    <input type="text" [(ngModel)]="usuario.Telefone" name="Telefone" placeholder="Telefone">
    <input type="text" [(ngModel)]="usuario.Email" name="Email" placeholder="Email">
    <input type="text" [(ngModel)]="usuario.Data_nascimento" name="Data_nascimento" placeholder="Data_nascimento">
    <button type="submit">Alterrar</button>
</form>

<hr>

<button (click)="deletar()">Deletar Conta</button>

</div>