<h3>Evento: </h3>
<div>
    <p>Nome: {{evento.Nome}}</p>
    <p>Descrição: {{evento.Decricao}}</p>
    <p>Data: {{evento.DataInicio}}</p>
    <p>Hora inicial: {{evento.HoraInicio}}</p>
    <p>Hora final: {{evento.HoraFinal}}</p>
    <p>Vagas: {{evento.Vagas}}</p>
    <p>Endereço: </p>
    <p>ID: {{endereco.idEndereco}}</p>
    <p>Estado: {{endereco.Estado}}</p>
    <p>Cidade: {{endereco.Cidade}}</p>
    <p>Bairro: {{endereco.Bairro}}</p>
    <p>Rua: {{endereco.Rua}}</p>
    <p>Numero: {{endereco.Numero}}</p>
    <p>Complemento: {{endereco.Complemento}}</p>
    <hr>
</div>